<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>-->
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>
  <modules>
    <module assemblyFile="Smart365Operation.Modules.Monitoring.dll" moduleType="Smart365Operation.Modules.Monitoring.MonitoringModule, Smart365Operation.Modules.Monitoring, Version=1.0.17061.405, Culture=neutral, PublicKeyToken=null" moduleName="Smart365Operation.Modules.Monitoring" startupLoaded="true" />
    <module assemblyFile="Smart365Operation.Modules.DataAnalysis.dll" moduleType="Smart365Operation.Modules.DataAnalysis.DataAnaysisModule, Smart365Operation.Modules.DataAnalysis, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Smart365Operation.Modules.DataAnalysis" startupLoaded="true" />
  </modules>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>